numpy==1.26.2
opencv-python==4.10.0.84
tritonclient==2.54.0
tritonclient[all]
kafka-python==2.0.5
cassandra-driver==3.29.2
boto3==1.37.23
supervision==0.25.1
av==14.3.0
imageio==2.37.0
imageio[ffmpeg]
supervision==0.25.1
roboflow==1.1.48
minio==7.2.15 